/* general */

body {
    font-family: 'Roboto', sans-serif;
}

.page__wrapper {
    background-color: #fff;
    margin: 0 auto;
    max-width: 111rem;

}

.page__header{
    margin-bottom: 3rem;
}

/* logo */
.page__logo{
    display:flex;
    align-items: flex-start;
    background-color: #0C8195;

    margin: 0 -9999rem;
    /* add back negative margin value */
    padding: 0.25rem 9999rem;
    background:#0C8195;
}

.bold{
    font-weight: 800;
}


/* nav */
.page__nav ul {
    display: flex;
    list-style: none;
    margin: 0 -9999rem;
    /* add back negative margin value */
    padding: 0.25rem 9999rem;
    background:#0C8195;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

.page__nav a {
    display: block;
    font-size: 1.7rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 2em;
    margin-top: 1em;
    padding: 0.7em;
    color: #FFF;

}

.page__nav a:hover{
    color: #F1C111;
    transition: 0.4s background;
}

.page__nav a + a {
    margin-left: 6em;
}

.page__nav .page__navlinks .page__navlinkcontact{
    border: 2px solid #F1C111;
    border-radius: 4rem;
    color: #F1C111;
}

.page__nav .page__navlinks .page__navlinkcontact:hover{
    background-color: #F1C111;
    color: #FFF;
    transition: 0.4s background;
}




/* footer */

.page__footer {
    display: flex;  
    flex-direction: row;
    font-size: 1.2rem;
    min-height: 10rem;
    /* syntax gekregen via https://css-tricks.com/full-browser-width-bars/  */

    margin: 0 -9999rem;
    /* add back negative margin value */
    padding: 0.25rem 9999rem;
    background: #171819;
}

.page__footer .page__sociallinks {
    align-items: flex-start;
}

.page__footer .page__sociallinks ul{
     display: flex;
}

.page__footer .page__sociallinks li{
    list-style: none;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.page__footer .page__sociallinks li + li{
    padding-left: 0.5rem;
}

.page__footer .page__sociallinks a{
    list-style: none;
    color: #FFF;
    text-decoration: none;
}

.page__footer .page__sociallinks a:hover{
    color:#F1C111;
}

.page__footer .page__address{
    margin-left: auto;
}

.page__footer .page__address p{
    color: grey;
    font-size: 1.5rem;
}

/* copyright */

.page__copyright {
    /* syntax gekregen via https://css-tricks.com/full-browser-width-bars/  */

    margin: 0 -9999rem;
    /* add back negative margin value */
    padding: 0.25rem 9999rem;
    background: #171819;

}

.page__copyright p{
    color: grey;
}
