/* stylelint-disable selector-class-pattern */

/* general */

body {
  font-family: Roboto, sans-serif;
}

.page__wrapper {
  background-color: #fff;
  margin: 0 auto;
  max-width: 35rem;
}

.page__header {
  margin-bottom: 3rem;
}

::selection {
  color: #fff;
  background: #f1c111;
}

/* logo */
.page__logo {
  display: flex;
  align-items: flex-start;
  margin: 0 -9999rem;

  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: #0c8195;
}

.bold {
  font-weight: 800;
}

/* hambuger https://alvarotrigo.com/blog/hamburger-menu-css/ 2. */

.page__nav {
  max-height: 10rem;
  margin: 0 -9999rem;

  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: #0c8195;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.page__nav .page__navlinks {
  box-shadow: inset 0 0 2000px rgb(255 255 255 / 50%);
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -4rem;
  padding-left: 3rem;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.page__header .checkbox {
  position: absolute;
  display: block;
  height: 3.2rem;
  width: 3.2rem;
  top: 10rem;
  left: 18rem;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.page__header .page__nav .hamburger-lines {
  height: 2.6rem;
  width: 3.2rem;
  position: absolute;
  top: 10rem;
  left: 18rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page__header .page__nav .hamburger-lines .line {
  display: block;
  height: 0.4rem;
  width: 100%;
  border-radius: 1rem;
  background: #0e2431;
}

.page__header .page__nav .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.page__header .page__nav .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.page__header .page__nav .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.page__header input[type="checkbox"]:checked ~ .page__nav {
  max-height: 90rem;
}

.page__header input[type="checkbox"]:checked ~ .page__nav .page__navlinks {
  transform: translateX(0);
  padding-top: 10rem;
  min-height: 10vh;
  margin-left: 0.3rem;
}

.page__header input[type="checkbox"]:checked ~ .page__nav .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.page__header input[type="checkbox"]:checked ~ .page__nav .hamburger-lines .line2 {
  transform: scaleY(0);
}

.page__header input[type="checkbox"]:checked ~ .page__nav .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.page__nav .page__navlinks .page__navsinglelink {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  list-style: none;
}

/* nav hidden mobile */

.page__nav a {
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 2em;
  margin-top: 1em;
  padding: 0.7em;
  color: #fff;
}

.page__nav a + a {
  margin-left: 6em;
}

.page__nav a:hover {
  color: #f1c111;
  transition: 0.4s background;
}

.page__nav .page__navlinks .active {
  border-bottom: 3px solid #f1c111;
}

/* footer */

.page__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
  min-height: 10rem;

  /* syntax gekregen via https://css-tricks.com/full-browser-width-bars/  */
  margin: 0 -9999rem;

  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: #171819;
}

.page__footer h3 {
  text-transform: uppercase;
  color: #909090;
  padding-bottom: 1rem;
}

.page__footer i {
  color: #f1c111;
  padding-right: 0.3rem;
}

.page__footer .page__sociallinks {
  align-items: flex-start;
}

.page__footer .page__sociallinks ul {
  display: flex;
}

.page__footer .page__sociallinks li {
  list-style: none;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.page__footer .page__sociallinks li + li {
  padding-left: 0.5rem;
}

.page__footer .page__sociallinks a {
  list-style: none;
  color: #fff;
  text-decoration: none;
}

.page__footer .page__sociallinks a:hover {
  color: #f1c111;
}

.page__copyright {
  /* syntax gekregen via https://css-tricks.com/full-browser-width-bars/  */

  margin: 0 -9999rem;

  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: #171819;
}

/* copyright */

.page__copyright p {
  color: grey;
}

.page__footer .page__address p {
  color: grey;
  font-size: 1.5rem;
}

.page__maps {
  display: none;
}

@media (min-width: 800px) {
  .page__wrapper {
    background-color: #fff;
    margin: 0 auto;
    max-width: 101rem;
  }

  .page__logo {
    display: flex;
    align-items: flex-start;
    margin: 0 -9999rem;

    /* add back negative margin value */
    padding: 0.25rem 9999rem;
    background: #0c8195;
  }

  .page__maps {
    display: contents;
  }

  .page__header .page__nav .hamburger-lines {
    display: none;
  }

  .page__header .checkbox {
    display: none;
  }

  /* nav */
  .page__nav {
    padding-bottom: 1rem;
  }

  .page__nav ul {
    display: flex;
    list-style: none;
    margin: 0 -9999rem;

    /* add back negative margin value */
    padding: 0.25rem 9999rem;
    background: #0c8195;
    justify-content: space-between;
    margin-bottom: 0.3rem;
  }

  .page__nav .page__navlinks {
    display: flex;
    transform: translateX(0);
    box-shadow: none;
    flex-direction: row;
    padding: 0.7em;
    color: #fff;
    margin-left: 0;
  }

  .page__nav a {
    display: block;
    font-size: 1.7rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 2em;
    margin-top: 1em;
    padding: 0.7em;
    color: #fff;
  }

  .page__nav a + a {
    margin-left: 6em;
  }

  .page__nav a:hover {
    color: #f1c111;
    transition: 0.4s background;
  }

  .page__nav .page__navlinks .page__navlinkcontact {
    border: 2px solid #f1c111;
    border-radius: 4rem;
    color: #f1c111;
  }

  .page__nav .page__navlinks .page__navlinkcontact:hover {
    background-color: #f1c111;
    color: #fff;
    transition: 0.4s background;
  }
}
